<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Chatbot - WvSv</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles_mobile.css">
</head>
<body>
    <div id="chat-container">
        <h1>WvSv - Chat bot</h1>
        <div id="chat-box"></div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Stel je vraag hier...">
            <button onclick="sendMessage()">Verstuur</button>
        </div>
    </div>
    <script src="/static/scripts_mobile.js"></script> 
</body>
</html>
