<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>Chat - Wetboek van Strafvordering</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <header>
        <h1>Wetboek van Strafvordering - Chat bot</h1>
    </header>
    <main id="chat-container">
        <div id="chat-box"></div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Stel je vraag hier...">
            <button onclick="sendMessage()">
                <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24"><mask id="a" width="25" height="24" x="0" y="0" maskUnits="userSpaceOnUse"><path fill="#F9F9F9" stroke="#E5E3EB" d="M.812.5h23v23h-23z"/></mask><g mask="url(#a)"><path fill="#1B1D64" stroke="#E5E3EB" strokeWidth=".025" d="M5.3 16.837v.02l.017-.008 11.85-5.196.026-.012-.026-.011-11.85-5.196-.017-.008V10.292l.01.002 5.374 1.347-5.375 1.347-.01.003V16.837Zm-1.475 2.32V4.125l17.168 7.515-17.168 7.515Z"/></g></svg>
            </button>
        </div>
        <div id="loader" class="spinner" style="display: none;"></div> <!-- Loader element -->
    </main>
    <script src="/static/scripts.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('user-input').focus();
        });
    </script>
</body>
</html>
